/*Estilos css*/

body{
	background: #f4e7d5;

	/*background: linear-gradient(90deg, lightyellow to 50%, #f4e7d5 to 100%); Intento fallido de degrado de fondo*/
}
header{
	background-color: #a38260;
	color: white;
	text-align: center;
	font-family: georgia;
	padding-bottom: 10px;
	padding-top: 10px;
}
nav{
	background-color: #d0b49f;
	text-align: center;
	padding-top: 2px;
	padding-bottom: 2px;
	
}
nav li{
	list-style: none;
	display: inline-block;
	margin-left: 30px;
	background-color: #8c6a4a;
	padding: 10px 10px 10px 10px;
	border-radius: 5px;
}
nav a{
	color: white;
	text-decoration: none;
}
nav li:hover{
	background-color: #6b4827;
	text-decoration: underline;
	color: white;
}
article.receta-destacada{
	margin-top: 20px;
	background: white;
	box-shadow: 5px 5px 0px 0px #888;
	width: 95%;
	border-radius: 20px;
	margin-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 20px;
}
article.receta-destacada img{
	width: 50%;
	margin-left: 25%;
	border-radius: 10px;
	
}
article.receta-destacada h2{
	
	color: #c05e39;
	text-align: center;
	font-size: 45px;

	
}
article.receta-destacada p{
	font-style: italic;
	text-align: center;

}
section.categorias-recetas img{
	width: 100px;
	border-radius: 5px;
	margin-left: 10px;
	float: left;
}
section.categorias-recetas h2{
	color: #c05e39;
	text-align: center;
	font-size: 50px;
	width: 1000px;

}
table{
	border-radius: 10px;
	margin-top: 100px;
	box-shadow: 5px 5px 0px 0px #888;
	border-collapse: collapse;
	padding-right: 50px;
	padding-left: 50px;

}
table th{
	background: #c05e39;
	padding-top: 10px;
	padding-right: 50px;
	padding-left: 50px;
	padding-bottom: 10px;

	color: white;
}
table td{
	background-color: white;
	padding-top: 10px;
	border-bottom: 1px dotted black;
	padding-bottom: 10px;
	padding-right: 50px;
	padding-left: 50px;
}
table td a{
	background: #c05e39;
	border-radius: 5px;
	padding: 2px 2px 2px 2px;
	color: white;
	text-decoration: none;
}
aside{
	float: left;
	width: 30%;
	border-left: 1px solid #d0b49f;
	margin-bottom: 600px;
}
main{
	width:68%;
	float: left;
}
section.formulario-busqueda{
	background-color:white;
	margin-left: 25px;
	border-radius: 10px;
	width: 50%;
	height: 200px;
	box-shadow: 5px 5px 0px 0px #888;
	
}
section.formulario-busqueda h3{
	text-align: center;
	padding-top: 10px;
}
section.formulario-busqueda label{
	margin-left: 15px;
	color: #7a5230;
}
section.formulario-busqueda #busqueda{
	width: 250px;
	border-radius: 10px;
	margin-left: 15px;
	height: 40px;
	margin-bottom: 10px;
}
section.formulario-busqueda #buscar{
	width: 257px;
	border-radius: 10px;
	margin-left: 15px;
	height: 40px;
	background-color: #8c6a4a;
	color: white;
}
aside h3{
	margin-left: 25px;
	color: #7a5230;
}
aside a{
	color: #c05e39;
	text-decoration: none;
	
}
aside li{
	list-style-image: url(../img/estrella.png);
}

aside .redes-sociales img
{
	margin-left: 15px;
	height: 30px;
}

footer{
	float: left;
	background-color: #a38260;
	width: 100%
}
footer p{
	text-align: center;
	color: white;
}
